/TransferMoney/TransferMoney.Test/obj
/TransferMoney/TransferMoney.Test/bin
/TransferMoney/TransferMoney.WebApi/obj
/TransferMoney/TransferMoney.WebApi/bin
/TransferMoney/ConsoleTest/obj
/TransferMoney/ConsoleTest/bin
/TransferMoney/TransferMoney.Service/bin
/TransferMoney/TransferMoney.Service/obj/Debug
